<div id="login-box">
    <form id="login-form" method="post" action="#">
        <div id="login">
            <h3>Sign in here</h3>
            <label for="flogin">Email</label>
            <input type="text" name="flogin" id="flogin" value="" maxlength="30"/>
            <br/>
            <label for="fpass">Password *</label>
            <input type="password" id="fpass" name="fpass" value=""/>
            <label for="logbutton"></label>
            <button type="submit" id="logbutton" name="logbutton">Login</button>
        </div>
    </form>
    <form id="register-form" method="post" action="#">
        <div id="register">
            <h3>Register now</h3>
            <label for="femail">Email</label>
            <input type="text" value="" id="femail" name="femail"/>
            <br/>
            <label for="fpassnew">Password *</label>
            <input type="password" id="fpassnew" name="fpassnew" value=""/>
            <br/>
            <label for="fpassnewconf">Confirm *</label>
            <input type="password" id="fpassnewconf" name="fpassnewconf" value=""/>
            <label for="regbutton"></label>
            <button type="submit" id="regbutton" name="regbutton">Register</button>
            <br/><br/>
            <div>* Only letters and numbers</div>
        </div>
    </form>
</div>
   